
<% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
  <% } %>
</head>
<body>
  <nav id="orange">
    <% if (user) { %>
      <a href="/profiles" class="button1 bouncy" style="animation-delay:0.14s">Plebbit</a>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
      <a href="/profiles/<%= user.profile._id%>/anime">my anime</a>

      <% } else { %>
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
        <% } %>
        <form action="/animeSearch" method="POST">
          <input  name= "query" type="text"  placeholder="search for Anime">
          <button type="submit">search</button>
        </form>
      </nav>
