
<% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav id="orange">
    <% if (user) { %>
      <a href="/auth/logout">
        <button style="font-size: xx-large; background-color:rgb(222, 129, 197);" type="submit">🚫</button>
      </a>
      <a href="/">
        <button  style="font-size: large;" type="submit">Main Page</button>
      </a>
      <a href="/profiles"><button style="font-size: large;" class="button1"> Profiles </button></a>
      <a href="/profiles/<%= user.profile._id%>/anime"><button style="font-size: large;" class="buttons"> My Anime</button></a>
      
      <% } else { %>
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
        <% } %>
        <div class="box">
          <form action="/animeSearch" method="POST">
            <input style="font-size: large; " class="input" name= "query" type="text"  placeholder="Search..." onmouseout="document.search.txt.value = ''">
          </form>
        </div>
      </nav>
