
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commentSpec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





