main {
  display: flex;
  justify-content: left;
  align-items: center;
}

.games {
  display: flex;
  margin-top: 10px;
  justify-content: center;

  flex-wrap: wrap;
}

.gameImage {
  width: 150px;
  height: 200px;
  margin: 10px;
}

