html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}


body {
height: 100vh;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  background: URl("luffy.jpg");
  /* #252525 */
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  align-items: center;

}

nav {
  background: URl("https://c4.wallpaperflare.com/wallpaper/682/1020/918/sakura-saber-fate-grand-order-anime-girls-fate-series-wallpaper-preview.jpg");
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  align-items: center;
 background-position-y:20%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
}

